<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <context-param>
        <param-name>releaseNumber</param-name>
        <param-value>@VERSION@</param-value>
    </context-param>
    <context-param>
        <param-name>releaseDate</param-name>
        <param-value>@RELEASE_DATE@</param-value>
    </context-param>
    <context-param>
        <param-name>productionRelease</param-name>
        <param-value>@PRODUCTION_RELEASE@</param-value>
    </context-param>    
    <env-entry>
        <env-entry-name>productionRelease</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>@PRODUCTION_RELEASE@</env-entry-value>
    </env-entry> 
    <context-param>
        <param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
        <param-value>16384</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.tomcat.websocket.binaryBufferSize</param-name>
        <param-value>16384</param-value>
    </context-param>    
    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <welcome-file-list>
        <welcome-file>overview</welcome-file>
    </welcome-file-list>
</web-app>
